* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --nav-basic: #ffffff;
    --nav-hover: red;
    --button-head: #7289DA;
    --button-dark-head: #F6F6F6;
    --black-text: black;
    --black-bg: #23272A;
}

#site_header {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* #region logo-nav-access */

.logo,
.access {
    width: calc((100% / 12) * 3);
    vertical-align: middle;
}

nav {
    width: calc((100% / 12) * 6);
    text-align: center;
}

img {
    height: 2rem;
}

a {
    vertical-align: middle;
    text-decoration: none;
    color: var(--nav-basic);
    padding: 1rem;
}

a:hover {
    color: var(--nav-hover);
    cursor: pointer;
    transition-duration: 0.4s;
}

.access {
    text-align: end;
}

button {
    border-radius: 1rem;
    border-width: 0rem;
    appearance: none;
    padding: 8px;
    font-size: 1rem;
    font-family: 'Source Serif Pro', serif;
}

button:hover {
    background-color: var(--button-head);
    transition-duration: 0.4s ;
    cursor: pointer;
}

#open_with_browser:hover {
    background-color: var(--button-dark-head);
    color: var(--black-text);
    transition-duration: 0.4s;
    cursor: pointer;
}

.spacing {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* #endregion logo-nav-access */

/* #region topic and buttons */
.second_box {
    height: 85%;
    position: relative;
}

.topic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Source Serif Pro', serif;
}

.topic h1, .topic p {
    padding-bottom: 2rem;
    color: #ffffff;
}

.mac_download {
    margin-right: 2rem;
}

#open_with_browser {
    background-color: #23272A;
    color: #ffffff;
}

/* #endregion topic and buttons */

/* #region main pattern */

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-3 {
    width: calc((100% / 12) * 3);
    padding-top: 2rem ;
}

.col-9 > img {
    height: 100%;   
}

.col-3 > h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.col-3  p {
    font-family: 'Source Serif Pro', serif;
}

#adjust {
    padding-left: 10rem;
}

.grey {
    background-color: lightgrey;
}

.wave {
    background-image: url(./img/wave.svg);
    background-size: cover;
    height: 50px;
    width: 100%;
    filter: invert(83%);
} 

.reverse {
    transform: rotateY(180deg);
    transform: rotateX(180deg);
}

/* #endregion main pattern  */

/* #region last description */
.last_description img {
    height: 600px;
    max-width: 100%;
}

.center {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.last_description > h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.last_description  p {
    font-family: 'Source Serif Pro', serif;
}

.star_effect {
    background-image: url(./img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.star_effect h3 {
    height: 40px;
    margin-bottom: 2rem; 
    padding: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.bottom {
    background-color: var(--button-head);
    color: var(--nav-basic);
}

/* #endregion last description */

.black_bg {
    background-color: var(--black-bg);
    padding: 2rem;
}

/* #region col-4 */

.col-4 {
    width: calc((100% / 12)*4);
}

.col-4 h3 {
    color: var(--button-head);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-bottom: 1.5rem;
}

#languages {
    margin-bottom: 1rem;
}

#languages img {
    height: 20px;
    max-width: 100%;
    vertical-align: middle;
}

.text_color {
    color: var(--nav-basic);
    vertical-align: middle;
    font-family: 'Source Serif Pro', serif;
}

#logos {
    color: var(--nav-basic);
    font-size: larger;
}

i {
    margin-right: 1rem;
}

i:hover {
    color: var(--nav-hover);
    transition: 0.4s;
    cursor: pointer;
}
/* #endregion col-4 */

/* #region col-2  */
.col-2 {
    width: calc((100% / 12)*2);
}

.col-2 a {
    padding: 0rem;
}

.col-2 h4 {
    color: var(--button-head);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}

.info_link {
    margin-bottom: 1rem;
}


.border {
    border-bottom: 2px solid var(--button-head);
}

/* #endregion col-2 */

/* #region final row */

.final {
    padding: 0.5rem 0;
    justify-content: space-between;
}

/* #endregion final row */
